.header{
    background-color: antiquewhite;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1600px;
    height: 800px;
    text-align: left;
}
.first-header{
  padding: 250px 150px 250px 800px;
  text-align: center;
}
.contact-button{
    color: #FFFFFF;
        font-weight: 700;
        font-size: 20px;
        border: 0;
        padding: 18px 35px;
        height: 64px;
        background: blue;
        border-radius: 5px;
}
.main-1{
    margin-top: 100px;
    display: flex;
}
.text-main-1{
    padding: 200px 500px 200px 40px;
}
.main-1 ul li {
    list-style-type: none;
}
/* main-2  styles start */
.main-2{

    margin-top: 150px 400px 150px 400px;
    display: flex;
    
}
.main-2-h2{
    text-align: center;
    justify-content: space-around;
}
.main-2-class{
    padding: 50px;
}
/* main 3 styles started */
.main-3{
    background-color: #FFFFFF;
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1100px;
    height: 300px;
    text-align: left;
    padding: 150px 500px 50px 20px;

}
.main-3-button{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    background: blue;
    border-radius: 5px;
}
/* main-4 styles started */
.main-4{
    background-color: black;
    color: #FFFFFF;
    display: flex;
    text-align: center;
}
.text-main-4{
    padding: 200px 500px 200px 400px;
}    
.main-4-text{
    padding: 200px 200px 200px 50px;
}
.subscribe-button{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    background: blue;
    border-radius: 5px;
}